#navStyle {
    padding:20px 0 ;
    position:absolute;
    top:0;
    left:0;
    z-index:99;
}
#navMenu {
    color: white;
    font-size:36px;
    font-weight:bold;
    padding:20px 30px;
}
#navMenu:hover {
    color: yellow;
}
/* Nav Menu Style */
#navMenuStyle {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    /* left: 50%; */
    z-index: 98;
    /* margin-left: -600px; */
    max-width: 100vw;
}
#navMenuStyle ul {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 15%;
    line-height: 2em;
}
#navMenuStyle ul li {
    list-style: none;
}
#navMenuStyle ul li a {
    color: white;
    text-decoration: none;
}
#navMenuStyle ul li a:hover {
    text-decoration: underline;
}
.showNav {opacity:100%; transition: opacity 2s; visibility:visible; }
.hideNav {opacity:0; transition: opacity 2s, visibility 2s; visibility: hidden; }