h2 {
    font-size:3em;
    font-weight:bold;
    text-decoration: underline;
}
#headerBottomRow {
    width:100%;
    text-align:center;
}
#goDownLink {
    color:#000;
    font-size:60px;
    font-weight:300;
}
.btnInline {
    display: inline-block;
    width: 50px;
    margin:0 20px;
}
.countdownTimer {
    width:100%;
    text-align:center;
    margin:15px auto;  
}
.countdownTimer span {
    width: 100%;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
    padding:10px;
    margin:10px;
}
.white {
    color: #f5f5f5;
}
.dark {
    color: #1d1d1d;
    margin-bottom:0;
}
.dark:hover {color:red; text-decoration: underline;}
.whiteBg { background-color: white; padding:5px;}
.curly {
    font-family: 'Lobster', cursive;
}