.overlay {
    height: 100vh;
    width:100vw;
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
}
.overlay ul {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 15%;
    line-height: 2em;
}
.overlay ul li {
    list-style: none;
}
.overlay ul li a {
    color: white;
    text-decoration: none;
}
.overlay ul li a:hover {
    text-decoration: underline;
}
.showNav {
    opacity:100%;
    transition: opacity 2s;
    visibility:visible;
}
.hideNav {
    opacity:0;
    transition: opacity 2s, visibility 2s;
    visibility: hidden; 
}