footer {
    width: 100%;
    background-color: black;
    color:white;
}
.inline {
    position: inline-block;
    padding: 10px;
}
.footerLink {
    color: white;
    margin: 0 5px;
}
.footerLink:hover {
    color: yellow;
}
