#eventCal {
    color: white;
    border: 2px solid white;
    margin: auto auto 100px auto;
    width: 75%;
    padding: 20px;
}
#monthHeader {
    font-size:3em;
    font-weight:bold;
    text-decoration: underline;

}
#eventList {

}
.lineup {
    width:100%;
    margin:5px;

}
.container {
    margin: 0 auto;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}
.lineup div {
    padding: 5px;
    font-size: 1.5em;
}
.date {
    font-weight:bold;
}
.artist {
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color: black;
}
.genre {
    font-weight: 300;
    display:none;
}
@media screen and (max-width:480px) {
    .lineup span {
        font-size:1em;
    }
}