.headerDivStyle {
    width:100%;
    margin:30px auto;
    text-align:center
}
.headerTextStyle {
    color:#ffffff;
    text-align:center;
    margin: -4px auto 20px auto;
    font-weight: bold;
    font-size: 3em;
}
.subHeaderStyle {
    color:#ffffff;
    font-size: 1.2em;
}