/* #masterContainer: Contains all content on the page*/
#masterContainer {
    height:auto;
    width:100%;
}
/* .containerStyle: Holds all the grid structure on the page */
.containerStyle { 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    max-width:100vw;
    max-height:100vh;
}
/* #mainContent: Holds all the content in the container*/
#mainContent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.masterContent {
    position: absolute;
    z-index:2;
}
#bgOverlay {
    height:100vh;
    width:100vw;
    background-color: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 80%);
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}
.fullHeight {
    height:100vh;
    width: 100vw;
}
